@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: Righteous;
}

.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 20px;
  margin-top:2%;
  opacity: 0.8; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
  border:2px;
  border-radius:4px;
  background-color:aqua;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none; 
  appearance: none;
  width: 18px; 
  height: 38px;
  background:black; 
  cursor: ew-resize;
  border:2px;
  border-color:black;
  border-radius:4px; 
}

.slider::-webkit-slider-thumb:hover {
  width: 23px;
  height: 45px;
}
